.MarvelCard-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
  
  }
  
  .one-card {
    background-color: var(--component-color);
    border: 1px solid black;
    height: 300px;
    border-radius: 10px;
  }
  
  .marvel-picture {
    width: 200px;
    height: 200px;
  }
  