@keyframes move-MarvelBigCard-container {
    0% {
      transform: rotate(0deg) translateY(20px) rotate(0deg);
    }
    100% {
      transform: rotate(360deg) translateY(20px) rotate(-360deg);
    }
  }
  
  .MarvelBigCard-container {
    background-color: grey;
    border-radius: 10%;
    position: sticky;
    top: 10px;
    width: 20vw;
    height: 52vh;
    background-color: var(--component-color);
    color: var(--text-color);
    animation: move-marvelpagecard-container 4s linear infinite;
  }

  .MarvelBigCard-container:hover {
    background-color: red;
    transform: scale(1.1);
    transition: .5s ease-in-out;
    background-size: 100% 100%;
  }
  
  .marvelbigcard-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .marvelbigcard-name {
    font-size: 22px;
  }
  
  .marvelbigcard-description {
    width: 90%;
    font-size: 11px;
  }
  
  .marvelbigcard-image {
    width: 100%;
    height: 50%;
    border-radius: 10% 10% 0% 0%;
  }

